@media(min-width: 992px) {

.portlet-body-socio-cidade-fix {
  height: 46vh;
}

.widget {
  flex: 1;
  /*align-items: center;*/
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.item {
  margin: auto;
}

.badge-danger {
  background-color: #e36c0a;
}

.custom-row {
  height: 50vh;
	display: flex;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .custom-col-xs-1, .custom-col-xs-10, .custom-col-xs-11, .custom-col-xs-12, .custom-col-xs-2, .custom-col-xs-3, .custom-col-xs-4, .custom-col-xs-5, .custom-col-xs-6, .custom-col-xs-7, .custom-col-xs-8, .custom-col-xs-9 {
	display: flex;
	flex-direction: column;
}

.flot-chart {
	width: 50%;
}

.flot-chart .legend > div {
	display: none;
}

.flot-chart .legend table {
  top: 100px !important;
  right: -66% !important;
  width: 50%;
}

.flot-chart .legend table .legendColorBox div div {
	width: 10px !important;
  height: 10px !important;
  border-width: 2px !important;
  border-radius: 50%;
}

#morris-bar-stacked {
	max-width: 100%;
}

#center,#center2 {
  height: 290px;
  line-height: 290px;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 184px;
  }

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  /*margin-bottom: 200%;*/
  }

.menu-item {
  height: 31vh;
  }

.menu-icon {
  margin-top: 12vh;
  }

  .no-scroll {
    height: 100vh;
    overflow: hidden;
  }

  .scroll {
    overflow-y: scroll;
    height: 100vh;
  }



}

.ml-25 {
  margin-left: 25px;
}

.pa-icon {
    font-style: normal;
    font-size: 15px !important;
    font-weight: 700;
    margin-left: 0 !important;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch.menor {
  width: 52px;
  height: 20px;
  display: block;
  margin: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.menor:before {
  height: 12px;
  width: 12px;
}

input:checked + .slider {
  background-color: #09D261;
}

input:focus + .slider {
  box-shadow: 0 0 1px #09D261;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.btn-gps {
  background: #ccc;
  color: #222;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.menu-spaced {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  margin: 0;
}

@media(min-width: 1200px) {
  .mb-card-title {
    margin-bottom: 30px;
  }

}

.custom-legend {
  font-family: Verdana;
  font-weight: 400;
  font-size: 16px;
  margin-left: 4px;
}

/********************
  Socios Page
********************/
.page-title {
  margin-bottom: 40px;
}

.contact-card .img-wrapper {
  display: block;
}

.observations {
  text-align: center;
  background: #ffff99;
}

.card-box {
  padding: 15px 15px 5px;
}

.card-icon.printer {
  position: absolute;
  bottom: -38px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/***
* Right Sidebar
*/
.sidemenu.right {
  padding: 30px 15px;
}

.sidemenu.right .bottom-sidebar {
  position: absolute;
  bottom: 30px;
  left: 45%;
}

.bs-pas {
  position: absolute;
  bottom: 30px;
}

.center-relative {
  position: relative; 
  left: -39%;
}

@media (min-width:  992px) {

  .content-page.right-sidebar {
    margin-right: 300px;
  }

  .sidemenu.right {
    width: 300px;
    position: fixed;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    border-radius: 50px;
  }
}

.b-r-20 {
  border-radius: 20px !important;
}

.b-r-10 {
  border-radius: 10px !important;
}

.card-info {
  border: 2px solid #333;
  /*margin: 0 auto;*/
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  margin-bottom: -2px;
}

.text-darker {
  color: #333;
}

.card-center {
  width: 48vw;
  margin: 10px auto;
}

.border-dark {
  border: 2px solid #333;
  border-radius: 10px;
}

.card-icon {
  object-fit: contain;
  width: 2vw !important;
  height: 7vh !important;
}

.sidebar-left-br {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.select {
  margin: 50px 52px 8px 52px;
  width: 183px;
  padding: 5px 35px 5px 5px;
  font-size: 13px;
  border: 2px solid #333;
  height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.select-img {
  background: url(../images/arrow.png) 96% / 15% no-repeat;
  /*border-left: 1px solid #333;*/
  /*float: left;*/
}

/* CAUTION: IE hackery ahead */
.select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .select {
        background:none\9;
        padding: 5px\9;
    }
}

.num-pas {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.95rem;
}

.debito {
  padding: 3px;
  border-radius: 8px;
  margin-left: 25px !important;
}

body {
  color: #333 !important;
}

.border-grey {
  border: 2px solid #ccc;
}

.card-font {
  font-family: Calibri;
  font-size: 16px;
  line-height: 16px;
}

.card-info .header-title {
  margin-bottom: 0;
}

/*.card-member-info {
  padding-left: 50px;
}
*/
.notas {
  background: #FA8072;
  border-radius: 10px;
}

.float-left {
  position: absolute;
  top: 10px;
}

.img-circle.bordered {
  border: 2px solid #333;
  background-color: #eee;
}

.red-border {
  border: 1px solid red;
  color: #333;
}

::placeholder {
    color: #222 !important;
    
}

.bg-light-pink {
  background: #fbd4b4 !important;
  color: #000;
}

#btn-novo-socio {
  position: relative;
  overflow: inherit !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

#noti-count {
    position:absolute;
    top:-15px;
    right:-15px;
    background-color:red;
    color:#fff;
    padding:5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width:30px;
    height:30px;
    text-align:center;
}

#noti-coun span {
  margin-top: 7px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-70 img {
  width: 40px;
  height: 40px;
  max-width: 100%;
  margin: auto;
}

.btn-70 {
  width: 70px !important;
  height: 70px !important;
}

.bg-orange {
  background: #e36c0a;
}

.bg-wine {
  background: #660033;
}

.lateral-printer {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.lateral-printer img {
  width: 40px;
  height: 40px;
  margin: auto;
}